* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    background-color: #F5FBFA;
    /* background-color: red; */
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

a {
    text-decoration: none;
    color: white;
    }